/**********************/
/* GENERAL COMPONENTS */
/**********************/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/**********************/
/* ALERT COMPONENT */
/**********************/
.alert--success {
  color: lightgreen;
}

.alert--error {
  color: lightcoral;
}

/**********************/
/* CAROUSEL COMPONENT */
/**********************/
.carousel .carousel-inner .carousel-item {
  display: block;
  z-index: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.6s;
}

.carousel-item.active {
  z-index: 1 !important;
  opacity: 1 !important;
}
